<div fxFlex fxFlexFill fxLayout="column" fxLayoutGap="30px">
  <app-header
    style="height: 15vh;"
    class="mat-elevation-z5"
    fxFlex="100%"
    fxFlexFill
  ></app-header>
  <main fxFlex="100%" fxFlexFill fxLayout="column">
    <div
      fxFlex="100%"
      fxLayout="row"
      fxFlexFill
      fxLayoutAlign="center flex-start"
    >
      <app-content-card
        title="Users"
        [cardContent]="userTable"
        fxFlex="80%"
      ></app-content-card>
    </div>
  </main>
</div>
<ng-template #userTable> <app-user-table></app-user-table> </ng-template>
